.header {
    background-color: dodgerblue;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.navbar .brand {
    font-size: 24px;
    font-weight: bold;
}
.nav-container {
    display: flex;
    align-items: center;
}
.navbar nav {
    display: flex;
    column-gap: 20px;
}
.navbar nav a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.navbar nav a:hover {
    border-bottom: 2px solid white;
}
.register {
    background-color: deeppink;
    color: white;
    text-decoration: none;
    padding: 8px 20px;
    margin-right: 5px;
    border-radius: 6px;
    border: 2px solid deeppink;
    transition: 0.3s;
}
.register:hover {
    background-color: transparent;
    color: white;
}
.login {
    background-color:white;
    color: black;
    text-decoration: none;
    padding: 8px 20px;
    margin-left: 5px;
    border-radius: 6px;
    border: 2px solid white;
    transition: 0.3s;
}
.login:hover {
    background-color: transparent;
    color: white;
}
.user-profile {
    width: 40px;
}